@use 'sass:map';
@use '../../variables/breakpoints';

.main {
  display: block;
  color: var(--very-dark-blue);
  text-align: center;
  padding-inline: clamp(1rem, calc(2vw + 0.5rem), 4rem);
  margin-block: clamp(2rem, calc(2vw + 0.5rem), 4rem);

  @media screen and (min-width: map.get(breakpoints.$breakpoints, 'tablet')) {
    width: 80%;
    margin-inline: auto;
  }

  @media screen and (min-width: map.get(breakpoints.$breakpoints, 'desktop')) {
    width: 60%;
  }

  @media screen and (min-width: map.get(breakpoints.$breakpoints, 'desktop-lg')) {
    width: 50%;
  }
}

.main__img {
  margin-block: clamp(2rem, calc(2.5vw + 0.1em), 3em);
}
